html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px; 
}* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
}

